In [3]:
import pandas as pd

In [1]:
#pythogorean theorem
import math
x = 3
y = 4
z = math.sqrt(x**2 + y**2)
print ('Hypotenuse_lenght= ', z)

Hypotenuse_lenght=  5.0

In [3]:
x = input ('Input shortest side  =')
y = input ('Input other side =')

print ( ' Hypotenuse =', math.sqrt(int(x)**2 + int(y)**2))

Input shortest side  = 3
Input other side = 4

 Hypotenuse = 5.0

In [82]:
owner = 'Lawrence Ferlinghetti'
age = 1001
name = 'hasan'
print('The founder of City Lights Bookstore, {} , is now {} years old {}.'.format(owner, age, name))

The founder of City Lights Bookstore, Lawrence Ferlinghetti , is now 1001 years old hasan.

In [110]:
name = 'orhan_ari'

In [104]:
name.upper()

'ORHAN_ARI'

In [105]:
name.lower()

'orhan_ari'

In [106]:
name.capitalize()

'Orhan_ari'

In [111]:
name = 'orhan_ari'
name.count('a')

2

In [113]:
# count buyuk kucuk harf duyarli olarak sayar
name = 'orhAn_ari'
name.count('a')

1

In [1]:
## w3r examples

In [ ]:
## version

In [4]:
import sys
print ('python version: ')
print(sys.version)

python version:
3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]

In [5]:
## date

In [29]:
import datetime
now = datetime.datetime.now()
print(now.strftime("%Y-%m-%d %H:%M:%S"))

2020-06-02 21:37:09

In [ ]:
##Write a Python program which accepts the radius of a circle from the user and compute the area.

In [10]:
import numpy as np
from math import pi

In [11]:
r = input('Input radius =')
Alan = pi * float(r)**2
print(' Radius ' +str(r)+ ' of circle area  =', str(Alan))

Input radius = 5

 Radius 5 of circle area  = 78.53981633974483

In [ ]:
##ANOTHER SOLVE

In [50]:
from math import pi

In [51]:
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle :  2

The area of the circle with radius 2.0 is: 12.566370614359172

In [ ]:
##Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [55]:
x = input('Input first name:')
y = input('Input last name:')
z = (x + y)[::-1]
print(z)

Input first name: orhan
Input last name: ari

iranahro

In [ ]:
##ANOTHER SOLVE

In [53]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)

Input your First Name :  orhan
Input your Last Name :  ari

Hello  ari orhan

In [ ]:
##6. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.

In [11]:
first,second,third,fourth = input('Input four number =')
print('List :'+ '['+ str(first) + ','+  str(second) + ',' + str(third) + ',' + str(fourth) +  ']' )
print('Tuple2 :'+ '('+ str(first) + ','+  str(second) + ',' + str(third) + ',' + str(fourth)  + ')' )

Input four number = 1234

List :[1,2,3,4]
Tuple2 :(1,2,3,4)

In [81]:
import pandas as pd

In [10]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers :  1,2,3,4

TypeError: 'tuple' object is not callable

In [ ]:
 ## 7.Write a Python program to accept a filename from the user and print the extension of that.

In [23]:
x= input('Input the filename:')
y = x.split('.')
print('File extension:'+ y[-1])

Input the filename: hasan.dat

File extension:dat

In [24]:
##8. Write a Python program to display the first and last colors from the following list.

In [26]:
color_list = ["Red","Green","White" ,"Black"]
print('First_color:' + color_list[0] + ' Last_color:' + color_list[-1] )

First_color:Red Last_color:Black

In [ ]:
##9. Write a Python program to display the examination schedule. (extract the date from exam_st_date).

In [35]:
exam_st_date = (11, 12, 2014)
print('The examination will start from :' + str(exam_st_date[0]) +'/' + str(exam_st_date[1]) + '/' + str(exam_st_date[2]))

The examination will start from :11/12/2014

In [ ]:
##ANOTHER SOLVE

In [40]:
date = (11,12,2014)
print( "The examination will start from : %i / %i / %i "%date)

The examination will start from : 11 / 12 / 2014

In [ ]:
##10. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

In [60]:
n = input('Input n values = ')
x = n+n
y = n+n+n
z = int(n)+int(x)+int(y)
print('Value of n+nn+nnn = ' + str(z))

Input n values =  5

Value of n+nn+nnn = 615

In [ ]:
##ANOTHER SOLVE

In [ ]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

In [70]:
name = 'marcog'
number = 42
print ('%s %d' % (name, number))

marcog 42

In [71]:
name = 'marcog'
number = 42
print(name, number)

marcog 42

In [ ]:
## 11. Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s).

In [1]:
import numpy as np
import math
import pandas as pd

In [16]:
print(abs.__doc__)

Return the absolute value of the argument.

In [17]:
?abs

Signature: abs(x, /)
Docstring: Return the absolute value of the argument.
Type:      builtin_function_or_method

In [ ]:
## 12. Write a Python program to print the calendar of a given month and year.

In [6]:
import calendar
y = int(input('input the year :'))
m = int(input('input the month :'))

print(calendar.month(y, m))

input the year : 2020
input the month : 6

     June 2020
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [ ]:
##CALENDAR

In [9]:
print(calendar.month(2020, 5))

      May 2020
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [10]:
?calendar

Type:        module
String form: <module 'calendar' from 'C:\\Users\\User\\anaconda3\\lib\\calendar.py'>
File:        c:\users\user\anaconda3\lib\calendar.py
Docstring:
Calendar printing functions

Note when comparing these calendars to the ones printed by cal(1): By
default, these calendars have Monday as the first day of the week, and
Sunday as the last (the European convention). Use setfirstweekday() to
set the first day of the week (0=Monday, 6=Sunday).

In [ ]:
##13. Write a Python program to print the following here document.

In [12]:
print("""" a string that you "don't" have to escape
This 
is a ........ multi-line
heredoc string---------> example""")

" a string that you "don't" have to escape
This
is a ........ multi-line
heredoc string---------> example

In [ ]:
14. Write a Python program to calculate number of days between two dates.

In [4]:
from datetime import date
f_date = date(2014, 7, 2)
l_date = date(2015, 7, 19)
fark = l_date - f_date
print(fark.days)

382

In [ ]:
## 15. Write a Python program to get the volume of a sphere with radius 6.

In [5]:
from math import pi

In [10]:
r = 6
V = 4/3*(pi * r**3)
print('volume of a sphere with radius 6 = ' + str(V))

volume of a sphere with radius 6 = 904.7786842338603